.tt-dropdown-menu {
    border: 1px solid #eee;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    background-color: #fff;
}

.tt-suggestion p {
    padding: 0.5em;
    margin: 0;
}

.tt-is-under-cursor {
    background-color: #eee;
}