{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Smashtube</title>

{% load compress %}
{% compress css %}
<link type="text/css" rel="stylesheet" href="{% static "css/typeahead.css" %}" />
<link type="text/css" rel="stylesheet" href="{% static "css/pure-min.css" %}" />
<link type="text/css" rel="stylesheet" href="{% static "css/ui/main.css" %}" />
{% endcompress %}
{% block js %}
{% endblock %}
</head>
<body>
<div id="layout">
    <!-- Menu toggle -->
    <div id="main">
        <div class="header">
            <h1><a href="/">Smashtube</a></h1>
            <h2>Super Smash Youtube Video Database</h2>
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>