<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Smashtube</title>

<link rel="stylesheet" href="/static/css/pure-min.css">
<link rel="stylesheet" href="/static/css/ui/main.css">
</head>
<body>
<div id="layout">
    <!-- Menu toggle -->
    <div id="main">
        <div class="header">
            <h1>Smashtube</h1>
            <h2>Super Smash Video Database</h2>
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>