{% extends "ui/base.html" %}
{% block content %}
<h2 class="content-subhead">Add a Video</h2>
            <p>
            <form class="pure-form" action="/submit-youtube-link" method="post" /> 
            <fieldset class="pure-group">
             {% csrf_token %} 
            <input class="pure-input-1-2" type="url" name="url" placeholder="http://www.youtube.com/watch?v=nDhbNFzdEik"/>
        
            <input type="submit" class="pure-button pure-button-primary" value="submit"/>
</fieldset>
            </form>
            </p>
            <h2 class="content-subhead">Watch</h2>
            <p>
                ...
            </p>

            <h2 class="content-subhead">Label</h2>
            <p>
                {% for url in latest %}
                <li><a href="{% url 'link-details' url.id %}">{{ url.video_url }}</a></li>
                {% endfor %}
            </p>

{% endblock %}
