{% extends "ui/base.html"%}

{% block content %}

<h2 class="content-subhead"><a href="{{ video_url_model.video_url }}"> {{ video_url_model.video_url }} </a></h2>
<iframe width="560" height="315" src="{{ video_url_model.video_url }}" frameborder="0" allowfullscreen></iframe>

{% for set_model in set_models %}

<h2 class="content-subhead">
{% if set_model.tournament %} {{set_model.tournament}} {% endif %}
{% if set_model.description %} {{set_model.description}} {% else %} ??? {% endif %} {{ set_model.index }} ({{set_model.game_title}})
</h2>

{% for match_model in set_model.match_set.all %}
Match {{match_model.index}} 
<form class="pure-form" action="{% url 'submit-player-for-match' match_model.id %}" method="post">
    <fieldset>
        {% csrf_token %}
        <input type="text" name="player-name" placeholder="Player (Mango)">
        <input type="text" name="character-name" placeholder="Character (Fox)">
        <button type="submit" class="pure-button pure-button-primary">Add Player</button>
    </fieldset>
</form>
{% if match_model.playersession_set.all %}
<table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>Player</th>
            <th>Character</th>
            <th>Action</th>
        </tr>
    </thead>
    
    <tbody>
        {% for player_session_model in match_model.playersession_set.all %}
        <tr>
            <td>{{ player_session_model.player }}</td>
            <td>{{ player_session_model.character }}</td>
            <td>
            <form action="{% url 'delete-player-session' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="player-session-id" value="{{player_session_model.id}}">
                    <button type="submit" class="pure-button pure-button-primary">Delete</button>
            </form>
            </td>
       </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<form class="pure-form pure-form-aligned" method="post" action="{% url 'edit-match' %}">
    <fieldset>
        <input type="hidden" name="match-id" value="{{match_model.id}}"/>
        <div class="pure-control-group">
            <label for="index">Match Number</label>
            <input name="index" type="number" min="1" {% if match_model.index %}value="{{match_model.index}}"{% endif %}>
        </div>

        <div class="pure-control-group">
            <label for="start">Start</label>
            <input name="start" type="text" placeholder="mm:ss or hh:mm:ss" {% if match_model.start %}value="{{match_model.start}}"{% endif %}>
        </div>

        <div class="pure-control-group">
            <label for="end">End</label>
            <input name="end" type="text" placeholder="mm:ss or hh:mm:ss" {% if match_model.end %}value="{{match_model.end}}"{% endif %}>
        </div>

        {% csrf_token %}
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Update</button>
        </div>
    </fieldset>
</form>
<form class="pure-form pure-form-aligned" method="post" action="{% url 'copy-match' %}">
        {% csrf_token %}
        <input type="hidden" name="match-id" value="{{match_model.id}}">
        <div class="pure-controls">
            <button type="submit" class="pure-button">Copy Players Into New Match</button>
        </div>
</form>
{% endfor %}

<form method="post" action="{% url 'delete-set' %}">
{% csrf_token %}
<input type="hidden" name="set-id" value="{{set_model.id}}"/>
<button type="submit" class="pure-button pure-button-warning">Delete Set</button>
</form>

{% endfor %}

<h2 class="content-subhead">Add a Set</h2>
<form class="pure-form pure-form-aligned" method="post" action="{% url 'submit-set-for-link' video_url_model.id %}">
    <fieldset>
        <div class="pure-control-group">
            <label for="tournament">Tournament</label>
            <input name="tournament" type="text" placeholder="Evo 2013">
        </div>

        <div class="pure-control-group">
            <label for="game-title">Game Title</label>
            <input name="game-title" type="text" placeholder="Melee">
        </div>

        <div class="pure-control-group">
            <label for="description">Description</label>
            <input name="description" type="text" placeholder="Grand Finals? Friendlies?">
        </div>

        <div class="pure-control-group">
            <label for="index">Set Number</label>
            <input name="index" type="number" min="1" value="1">
        </div>
        {% csrf_token %}
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>
{% endblock %}
